head{
	
}
body{
	background-color: gray; 
}
td{
	 border : 3px solid;
	 width :25%;
	 background-color : white;
}
div.renvoi {
	background-color : white;
	border: 2px solid ;
	display: inline-block;
}